.container {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 5fr;
}

.header, .content, .navigation, .toolbar{
    gap: 10px;
    padding: 10px;
}

.header, .content {
    grid-column: 2 / 3;
}

.sidebar {
    grid-column: 1 / 2;
    display: grid;
    grid-row: span 2;
    background-color: rgb(44, 135, 221);
    color: white;
    padding: 10px;
    gap: 4px;
    grid-template-rows: 50px repeat(6, 25px) 40px repeat(3, 25px);
    grid-template-columns: 20px 2fr;
}

.navigation {
    display: grid;
    grid-template-columns: 1em 5fr repeat(3, 1fr);
}

.toolbar {
    display: grid;
    grid-template-columns: 1fr 4fr repeat(3, 1fr);
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: rgb(228, 228, 228);
}

.projects {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.card, .announcements, .trending {
    background-color: white;
    padding: 8px;
}

.announcements, .trending {
    grid-column: 2 / 3;
}

.trending {
    display: grid;
    gap: 8px;
}

h3 {
    margin: 10px 0 0;
}


object {
    height: 1.1em;
}