* {
    border: 1px solid black;
}

.container {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 5fr;
}

.header, .content {
    grid-column: 2 / 3;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.sidebar {
    grid-column: 1 / 2;
    display: grid;
    grid-row: span 2;
}

.projects {
    grid-column: 1 / 2;
}

.announcements, .trending {
    grid-column: 2 / 3;
}