* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body, html {
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: minmax(50px, 200px) 5fr;
}

.header, .content, .navigation, .toolbar{
    gap: 10px;
    padding: 5px 10px;
}

.header, .content {
    grid-column: 2 / 3;
}

.sidebar {
    grid-column: 1 / 2;
    display: grid;
    grid-row: span 2;
    background-color: rgb(44, 135, 221);
    color: white;
    padding: 10px;
    gap: 4px;
    grid-template-rows: 50px repeat(6, 25px) 40px repeat(3, 25px) 1fr;
    grid-template-columns: 30px 2fr;
    align-items: center;
    font-weight: bold;
}

.main-icon {
    height: 1.5em;
    place-self: center;
}

.icon {
    height: 1em;
    padding: 5px;
}


.navigation {
    display: grid;
    grid-template-columns: 1em 5fr 1em 1.3em 5em;
}

input {
    background-color: rgb(228, 228, 228);
    border-radius: 15px;
    border: 0;
    height: 1.8em;
    width: 40em;
}

.user-info {
    justify-content: right;
    justify-self: end;
}

.toolbar {
    display: grid;
    grid-template-columns: 1em 8fr repeat(3, 1fr);
    gap: 20px;
    align-items: center;
}

.toolbar h3 {
    margin: 0;
}

button {
    background-color: rgb(44, 135, 221);
    color: white;
    border-radius: 15px;
    border: 0;
    padding: 5px;
    font-weight: bold;
    height: 2.5em;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    background-color: rgb(228, 228, 228);
    box-shadow: inset 1px 2px 5px gray;
}

.projects {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.card, .announcements, .trending {
    background-color: white;
    padding: 8px;
    border-radius: 15px;
    box-shadow: 1px 2px 5px gray;
}

.card {
    display: grid;
    padding: 25px;
    background: linear-gradient(to right, goldenrod 3%, white 0%);
}

.icons {
    align-self: end;
    justify-self: end;
}

.highlights h3 {
    margin: 10px;
}

.announcements, .trending {
    grid-column: 2 / 3;
}

.announcements {
    display: grid;
    gap: 15px;
    padding: 25px;
}

.announce {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

hr {
    border-top: 1px solid black;
}

.trending {
    display: grid;
    gap: 8px;
}

.trending div {
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 5px;
}

h3 {
    margin: 10px 0 0;
}
